#tour {

    .bit-widget {
        min-width: 0px;

        .bit-event {

            .bit-event-buttons {
                max-width: 100%;
            }
        }

        .bit-play-my-city-wrapper {
            display: none;
        }
    }
}
